
@using Terjeki.Scheduler.Core
@using Terjeki.Scheduler.Web.Forms
@inject DialogService DialogService
@inject NotificationService NotificationService

<RadzenStack Gap="1.5rem">
    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />
        <div class="content">
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Távollét kiválasztása </RadzenText>
                <RadzenDropDown Data="@holidayTypes"
                                @bind-Value="@form.Type"
                                TValue="HolidayTypes"
                                TextProperty="Name"
                                ValueProperty="Type"
                                AllowClear="true"
                                AllowFiltering="true"
                                Style="width: 100%;"
                                Name="DropDownCustomObjects" />

            </div>

            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Sofőr kiválasztása </RadzenText>
                <RadzenDropDown Data="@drivers"
                                @bind-Value="@form.Driver"
                                TextProperty="Name"
                                AllowClear="true"
                                AllowFiltering="true"
                                Style="width: 100%;"
                                Name="DriversDropDown" />
            </div>

            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Leírás </RadzenText>
                <RadzenTextArea @bind-Value=@form.Description Cols="30" Rows="3" aria-label="TextArea with 3 rows and 30 columns" Style="width: 100%;" />
                <ValidationMessage For="@(() => form.Description)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Kezdő dátum </RadzenText>
                <RadzenDatePicker @bind-Value=@form.Start Name="RadzenDatePickerBindValue" ShowCalendarWeek DateFormat="yyyy.MM.dd" Style="width: 100%;" />
                <ValidationMessage For="@(() => form.Start)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Befejezés dátuma </RadzenText>
                <RadzenDatePicker @bind-Value=@form.End Name="RadzenDatePickerBindValue" ShowCalendarWeek DateFormat="yyyy.MM.dd"  Style="width: 100%;" />
                <ValidationMessage For="@(() => form.End)" />
            </div>
        </div>
        <div class="flex-button">

            <TButton Label="Mégsem"
                     Type="@TButton.TypeEnum.Outline"
                     Size="@TButton.SizeEnum.Medium"
                     OnClick="() => Close()">
            </TButton>
            <TButton Label="Mentés"
                     Type="@TButton.TypeEnum.Primary"
                     Size="@TButton.SizeEnum.Medium"
                     OnClick="()=> OnSave()">
            </TButton>

        </div>
    </EditForm>
</RadzenStack>
@code{

    

}

