@using Terjeki.Scheduler.Core
@inject DialogService DialogService
@inject NotificationService NotificationService


<RadzenStack Gap="1.5rem">
    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />
        <div class="content">
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Szervíz kiválasztása </RadzenText>
                <RadzenDropDown Data="@serviceTypes"
                                @bind-Value="@form.Type"
                                TValue="ServiceTypes"
                                TextProperty="Name"
                                ValueProperty="Type"
                                AllowClear="true"
                                AllowFiltering="true"
                                Style="width: 100%;"
                                Name="DropDownCustomObjects" />

            </div>

            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Busz kiválasztása </RadzenText>
                <RadzenDropDown Data=@buses
                                TValue="BusItemModel" @bind-Value=@form.Bus AllowClear="true" AllowFiltering="true" Style="width: 100%;"
                Name="DropDownCustomObjects" />

            </div>
            @if (form.Bus != null)
            {
                <div class="form-input">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Km óra állás </RadzenText>
                    <RadzenNumeric @bind-Value=@form.Bus.CurrentMileage InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width: 100%;" />
                </div>
            }
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Leírás </RadzenText>
                <RadzenTextArea @bind-Value=@form.Summary Cols="30" Rows="3" aria-label="TextArea with 3 rows and 30 columns" Style="width: 100%;" />
                <ValidationMessage For="@(() => form.Summary)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Részletek </RadzenText>
                <RadzenTextArea @bind-Value=@form.Description Cols="30" Rows="3" aria-label="TextArea with 3 rows and 30 columns" Style="width: 100%;" />
                <ValidationMessage For="@(() => form.Description)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Kezdő dátum </RadzenText>
                <RadzenDatePicker @bind-Value=@form.Start Name="RadzenDatePickerBindValue" ShowCalendarWeek DateFormat="yyyy.MM.dd" Style="width: 100%;" />
                <ValidationMessage For="@(() => form.Start)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Befejezés dátuma </RadzenText>
                <RadzenDatePicker @bind-Value=@form.End Name="RadzenDatePickerBindValue" ShowCalendarWeek DateFormat="yyyy.MM.dd" Style="width: 100%;" />
                <ValidationMessage For="@(() => form.End)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Értesítés küldése? </RadzenText>
                <RadzenSwitch @bind-Value=@form.IsNotification InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Switch value" }})" />
            </div>
        </div>
        <div class="flex-button">

            <TButton Label="Mégsem"
            Type="@TButton.TypeEnum.Outline"
            Size="@TButton.SizeEnum.Medium"
            OnClick="() => Close()">
            </TButton>
            <TButton Label="Mentés"
            Type="@TButton.TypeEnum.Primary"
            Size="@TButton.SizeEnum.Medium"
            OnClick="()=> OnSave()">
            </TButton>

        </div>
    </EditForm>
</RadzenStack>

@code {
   
}
