@using MediatR
@using Terjeki.Scheduler.Core
@inject DialogService DialogService
@inject NotificationService NotificationService
<RadzenStack Gap="1.5rem">
    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />
        <div class="content">
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Név </RadzenText>
                <RadzenTextBox @bind-Value=@form.Brand Style="width: 100%" />
                <ValidationMessage For="@(() => form.Brand)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Rendszám </RadzenText>
                <RadzenTextBox @bind-Value=@form.LicensePlateNumber Style="width: 100%" />
                <ValidationMessage For="@(() => form.LicensePlateNumber)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Férőhelyek száma </RadzenText>
                <RadzenDropDown Data=@capacities
                                TValue="CapacityModel" @bind-Value=@form.Capacity AllowClear="true" AllowFiltering="true" Style="width: 100%;"
                                Name="DropDownCapacities" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Km óra állás </RadzenText>
                <RadzenNumeric @bind-Value=@form.CurrentMileage InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width: 100%;" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Leírás </RadzenText>
                <RadzenTextArea @bind-Value=@form.Description Cols="30" Rows="3" aria-label="TextArea with 3 rows and 30 columns" Style="width: 100%;" />
                <ValidationMessage For="@(() => form.Description)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Sofőr kiválasztása </RadzenText>
                <RadzenDropDown Data=@drivers TValue="DriverItemModel" @bind-Value=@form.Driver AllowClear="true" AllowFiltering="true" Style="width: 100%;" Name="DropDownCustomObjects"/>
                
            </div>

        </div>
        <div class="flex-button">
            
            <TButton Label="Mégsem"
                     Type="@TButton.TypeEnum.Outline"
                     Size="@TButton.SizeEnum.Medium"
                     OnClick="() => Close()">
            </TButton>
            <TButton Label="Mentés"
                     Type="@TButton.TypeEnum.Primary"
                     Size="@TButton.SizeEnum.Medium"
                     OnClick="()=> OnSave()">
            </TButton>

        </div>
    </EditForm>
</RadzenStack>

@code {
    
}
