@page "/users"
@using Microsoft.AspNetCore.Authorization
@using Terjeki.Scheduler.Core
@using Terjeki.Scheduler.Web.Components.Drivers
@using Terjeki.Scheduler.Web.Components.Users
@using Terjeki.Scheduler.Web.Services

@inject DialogService DialogService
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Admin")]
<PageTitle>Felhasználók</PageTitle>
<div class="floating-button">
    <RadzenButton Click=@(args => OnCreate())
                  Icon="add"
                  ButtonStyle="ButtonStyle.Primary"
                  Size="ButtonSize.Large" class="rz-border-radius-10 rz-shadow-10 " />
</div>
<div class="title">
    <h1>Felhasználók</h1>

</div>
<RadzenDataGrid AllowFiltering="true" Responsive="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" PageSize="10" AllowSorting="true"
                Data="@users" TItem="AllowedEmailModel">
    <EmptyTemplate>
        Nem található regisztrálható felhasználó
    </EmptyTemplate>
    <Columns>
        <RadzenDataGridColumn Width="50px" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
            <Template Context="data">
                @(users.IndexOf(data) + 1)
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="UserModel.Name" Title="Név">
            <Template Context="user">
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center">
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-0">@user.Name</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="UserModel.Email" Title="Email">
            <Template Context="user">
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center">
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-0">@user.Email</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="UserModel.Role" Title="Jogosultság">
            <Template Context="user">
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center">
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mb-0">@user.Role.Name</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Context="user"
                              Filterable="false" Sortable="false"
                              TextAlign="TextAlign.Right"
                              Width="200px"
                              Frozen="true"
                              FrozenPosition="FrozenColumnPosition.Right">
            <Template Context="user">

                <RadzenButton Icon="edit"
                              ButtonStyle="ButtonStyle.Light"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1"
                              Click="@(() => OnEdit(user))" @onclick:stopPropagation="true" />
                <RadzenButton Icon="delete"
                              ButtonStyle="ButtonStyle.Light"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Medium"
                              Shade="Shade.Lighter" class="rz-my-1 rz-ms-1"
                              Click="@(() => OnDelete(user.Id))" @onclick:stopPropagation="true" />
            </Template>

        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>


@code {
    
}

