
@using Terjeki.Scheduler.Core
@inject DialogService DialogService
@inject NotificationService NotificationService


<RadzenStack Gap="1.5rem">
    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />
        <div class="content">
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Név </RadzenText>
                <RadzenTextBox @bind-Value=@form.Name Style="width: 100%" />
                <ValidationMessage For="@(() => form.Name)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> E-mail </RadzenText>
                <RadzenTextBox @bind-Value=@form.Email Style="width: 100%" />
                <ValidationMessage For="@(() => form.Email)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Jogosultság kiválasztása </RadzenText>
                <RadzenDropDown Data=@roles
                                TValue="RoleModel" @bind-Value=@form.Role AllowClear="true" AllowFiltering="true" Style="width: 100%;"
                                Name="DropDownCustomObjects" />
            </div>
        </div>
        <div class="flex-button">

            <TButton Label="Mégsem"
                     Type="@TButton.TypeEnum.Outline"
                     Size="@TButton.SizeEnum.Medium"
                     OnClick="() => Close()">
            </TButton>
            <TButton Label="Mentés"
                     Type="@TButton.TypeEnum.Primary"
                     Size="@TButton.SizeEnum.Medium"
                     OnClick="()=> OnSave()">
            </TButton>

        </div>
    </EditForm>
</RadzenStack>

@code {
   
}
