@using Terjeki.Scheduler.Core
@inject DialogService DialogService
@inject NotificationService NotificationService


<RadzenStack Gap="1.5rem">
    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />
        <div class="content">
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Férőhelyek száma </RadzenText>
                <RadzenDropDown Data=@capacities
                                Change="@(args => ChangeCapacity(args))"
                                TValue="CapacityModel" @bind-Value=@form.Capacity AllowClear="true" AllowFiltering="true" Style="width: 100%;"
                                Name="DropDownCapacities" />

            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Busz kiválasztása </RadzenText>
                <RadzenDropDown Data=@buses
                                TValue="BusModel" @bind-Value=@form.Bus AllowClear="true" AllowFiltering="true" Style="width: 100%;"
                                Name="DropDownCustomObjects" />

            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Sofőr(ök) kiválasztása </RadzenText>
                <RadzenDropDown Data="@drivers"
                                @bind-Value="@form.Drivers"
                                TextProperty="Name"
                                Multiple="true"
                                AllowClear="true"
                                AllowFiltering="true"
                                Style="width: 100%;"
                                Name="DriversDropDown" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Leírás </RadzenText>
                <RadzenTextArea @bind-Value=@form.Description Cols="30" Rows="3" aria-label="TextArea with 3 rows and 30 columns" Style="width: 100%;" />
                <ValidationMessage For="@(() => form.Description)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Kezdő dátum </RadzenText>
                <RadzenDatePicker @bind-Value=@form.Start Name="RadzenDatePickerBindValue" ShowCalendarWeek DateFormat="yyyy.MM.dd"  Style="width: 100%;" />
                <ValidationMessage For="@(() => form.Start)" />
            </div>
            <div class="form-input">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Befejezés dátuma </RadzenText>
                <RadzenDatePicker @bind-Value=@form.End Name="RadzenDatePickerBindValue" ShowCalendarWeek DateFormat="yyyy.MM.dd" Style="width: 100%;" />
                <ValidationMessage For="@(() => form.End)" />
            </div>
        </div>
        <div class="flex-button">

            <TButton Label="Mégsem"
                     Type="@TButton.TypeEnum.Outline"
                     Size="@TButton.SizeEnum.Medium"
                     OnClick="() => Close()">
            </TButton>
            <TButton Label="Mentés"
                     Type="@TButton.TypeEnum.Primary"
                     Size="@TButton.SizeEnum.Medium"
                     OnClick="()=> OnSave()">
            </TButton>

        </div>
    </EditForm>
</RadzenStack>

@code {
    
}
